<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.3.xsd
">

    <!-- With annotation -->
    <context:component-scan base-package="com.rvasquez.springExample"></context:component-scan>

    <!-- With bean configuration -->
    <bean id="Bike" class="com.rvasquez.springExample.Bike"></bean>

<!--    <bean id="tyre" class="com.rvasquez.springExample.Tyre">-->
<!--    -->
<!--    -->
<!--          without constructor:   -->
<!--        <property name="brand" value="Michelin Property"></property>-->

<!--          with Constructor Injection  -->
<!--        <constructor-arg value="Michelin Constructor"></constructor-arg>-->
<!--    </bean>-->
</beans>